:root {
    --header-height: 4vh;
}

body {
    margin: 0;
    font-family: sans-serif;
}

#header {
    height: var(--header-height);
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

#header button {
    font-size: 2rem;
    border-radius: 0;
    border: none;
    color: white;
    background-color: var(--button-color, #aaa);
    cursor: pointer;
    height: var(--header-height);

    display: flex;
    align-items: center;
}

#header button:nth-child(even) {
    --button-color: #999;
}

#run-button {
    --button-color: #48c774;
}

#container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--header-height));
}

#name {
    padding-right: 0.32em; /* i am an awful person */
}

#resizer {
    width: 3px;
    background: white;
}
#resizer:hover {
    cursor:col-resize;
}

#left {
    width: 30%;
    height: calc(100vh - var(--header-height));

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#results {
    min-height: 7rem;
    padding: 1rem;
}
#results:empty {
    min-height: 0;
    padding: 0;
}


#right {
    width: 70%;
    height: calc(100vh - var(--header-height));
}
#map {
    width: 100%;
    height: 100%;
}

.maplibregl-popup {
    max-width: none !important;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.maplibregl-popup .maplibregl-popup-content {
    padding: 2rem;
}

.maplibregl-popup .osm-link {
    font-size: 1.4rem;
}

#loading-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(100, 100, 100, 0.5);
    z-index: 10000;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3rem;

    display: none;
}
#info {
    background: #a8e6a8c4;
    color: black;
    z-index: 1000;
    position: absolute;
    bottom: 0;
    font-family: monospace;
}

#tools {
    z-index: 1000;
    position: absolute;
    top: var(--header-height);
}
#distance-button {
    background: #bebcbc;
}
#distance-button[data-on="true"] {
    background: #a8e6a8;
}





.modal {
    position: fixed; /* Stay in place */
    z-index: 10000000000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    overflow: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-inner {
    overflow-x: auto;
}
